<section class="px-main pt-16" id="venue-filter-form">
  <h2
    class="uppercase font-medium text-subtitle-lg-sm lg:text-subtitle-lg lg leading-sectionTitle text-center"
  >
    Быстрый подбор площадки
  </h2>

  <form
    class="mt-10 grid grid-cols-1 lg:grid-cols-[2fr_1fr] lg:justify-items-center gap-y-10 md:max-w-247 mx-auto"
  >
    <fieldset class="flex flex-col gap-6">
      <legend
        class="text-subtitle-sm lg:text-subtitle-md text-center font-medium"
      >
        По мероприятию
      </legend>

      <div
        id="event-types-container"
        class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-6 gap-x-7 mt-6"
      ></div>
    </fieldset>

    <fieldset class="flex flex-col gap-6">
      <legend
        class="text-subtitle-md-sm lg:text-subtitle-md text-center font-medium"
      >
        По вместимости
      </legend>

      <div
        id="venue-capacity-container"
        class="grid grid-cols-1 gap-y-6 mt-6"
      ></div>
    </fieldset>

    <button
      type="submit"
      class="bg-accent-pink justify-self-center lg:col-span-2 max-w-156.75 w-full text-center text-white py-4 rounded-main uppercase text-base cursor-pointer"
    >
      Подобрать площадку
    </button>
  </form>
</section>
