<section class="px-main flex flex-col items-center">
  <div class="flex flex-col items-center gap-10">
    <div class="space-y-10">
      <img
        src="/images/1.webp"
        class="w-full rounded-main h-86.25 object-cover"
      />

      <p class="text-justify text-body-base">
        Разработка концепции мероприятия, изготовление уникального декора,
        оснащение залов оборудованием, проведение онлайн трансляций,
        формирование меню под конкретную задачу, подбор персонала и координация.
      </p>
    </div>

    <div class="space-y-10">
      <img src="/images/2.webp" class="w-full rounded-main h-98 object-cover" />

      <p class="text-justify text-body-base">
        Разработка концепции мероприятия, изготовление уникального декора,
        оснащение залов оборудованием, проведение онлайн трансляций,
        формирование меню под конкретную задачу, подбор персонала и координация.
      </p>
    </div>
  </div>
</section>
