<section
  class="lg:absoulute lg:inset-0 w-full px-main lg:px-9 lg:flex lg:items-center lg:justify-center lg:overflow-y-auto"
  id="section-3"
>
  <div class="h-full lg:mt-16 2xl:container mx-auto">
    <h2
      class="text-title-lg-sm lg:text-title-md xl:text-title-lg lg:text-left uppercase text-center font-grotesk lg:mt-8 relative z-10"
    >
      Площадки
    </h2>

    <div
      id="venues-list-container"
      class="relative z-10 mt-10 grid grid-cols-1 md:grid-cols-2 gap-y-10 md:gap-x-main justify-items-center lg:justify-items-start lg:pb-28"
    ></div>
  </div>
</section>
