<section
    class="2xl:container scroll-mt-25 mx-auto lg:absolute lg:invisible lg:inset-0 w-full px-main lg:px-9 lg:flex lg:items-center lg:justify-center lg:overflow-y-auto min-h-screen"
    id="section-2">
    <div class="h-full lg:mt-32">
        <h2
            class="text-title-lg-sm lg:text-title-md xl:text-title-lg lg:text-left uppercase text-center font-grotesk lg:mt-8">
            Площадки
        </h2>

        <div id="venues-list-container"
            class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-y-10 md:gap-x-main justify-items-center lg:justify-items-start lg:pb-28">
        </div>
    </div>
</section>