<section
  class="section mx-auto lg:flex flex-col justify-center items-center lg:overflow-y-auto lg:absolute min-h-screen pb-10 lg:pb-62.5 fullpage-section last-section"
  id="section-9"
>
  <div class="h-full w-full lg:mt-32">
    <h2
      class="text-title-lg-sm lg:text-title-lg font-grotesk uppercase text-center lg:text-start 2xl:container mx-auto"
    >
      Отзывы
    </h2>

    <div class="px-main 2xl:container mx-auto">
      <div class="mt-25 bg-[#D9D9D9] h-96.25 w-full"></div>
    </div>

    <div class="mt-10 lg:mt-40 px-main 2xl:container mx-auto">
      <h3
        class="text-xl lg:text-subtitle-lg-sm font-extrabold uppercase text-center"
      >
        Партнеры
      </h3>

      <div
        class="grid grid-cols-4 lg:grid-cols-10 gap-x-6 gap-y-6 mt-4 lg:mt-8 justify-items-center"
      >
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
        <div class="bg-[#D9D9D9] w-17 h-17"></div>
      </div>
    </div>

    <div
      class="bg-[#D9D9D9] w-full h-66.25 mt-10 lg:mb-32 2xl:container mx-auto"
    ></div>

    <footer
      class="border-t border-slate-800 mt-10 relative px-main py-10 w-full bottom-0 hidden lg:block"
    >
      <video
        autoplay
        muted
        loop
        playsinline
        class="absolute top-0 left-0 w-full h-full object-cover"
      >
        <source src="/video/bg-video-pink.mp4" type="video/mp4" />
        Ваш браузер не поддерживает видео.
      </video>

      <div class="relative z-10 flex flex-col items-center container mx-auto">
        <svg class="text-accent-pink lg:text-white w-50 lg:w-69 h-7">
          <use href="/sprite.svg#logo"></use>
        </svg>

        <div
          class="flex flex-col lg:flex-row lg:items-center gap-6 lg:gap-18 lg:mt-20"
        >
          <ul
            class="text-white mt-25 lg:mt-0 font-extrabold lg:font-medium text-lg lg:text-subtitle-sm flex flex-col lg:flex-row lg:justify-between gap-4 lg:gap-18 w-full"
          >
            <li class="flex flex-col lg:flex-row items-center gap-4">
              <svg class="w-6 lg:w-9 h-6 lg:h-9">
                <use href="/sprite.svg#phone"></use>
              </svg>

              <address class="not-italic">
                <a
                  href="tel:+74994441908"
                  aria-label="Позвонить +7 (499) 444-19-08"
                  class="not-italic"
                >
                  +7 (499) 444-19-08
                </a>
              </address>
            </li>

            <li class="flex flex-col lg:flex-row items-center gap-4">
              <svg class="w-6 lg:w-9 h-6 lg:h-9">
                <use href="/sprite.svg#mail"></use>
              </svg>

              <address class="not-italic">
                <a
                  href="mailto:Info@quattro.space"
                  aria-label="Написать письмо на Info@quattro.space"
                >
                  Info@quattro.space
                </a>
              </address>
            </li>

            <li class="flex flex-col lg:flex-row items-center gap-4">
              <svg class="w-6 lg:w-9 h-6 lg:h-9">
                <use href="/sprite.svg#location"></use>
              </svg>

              <address class="not-italic">
                <a
                  href="https://yandex.ru/maps/-/CPuUa-kt"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Открыть адрес Москва, ул. Мясницкая, 13, с. 20 на Яндекс.Картах"
                >
                  Москва, ул. Мясницкая, 13, с. 20
                </a>
              </address>
            </li>
          </ul>

          <div class="flex gap-4 justify-center">
            <svg
              class="w-10 lg:w-9 h-10 lg:h-9 bg-black rounded-lg border border-white"
            >
              <use href="/sprite.svg#max"></use>
            </svg>

            <svg class="w-10 lg:w-9 h-10 lg:h-9 text-white">
              <use href="/sprite.svg#telegram"></use>
            </svg>
          </div>
        </div>

        <div
          class="w-full mt-6 lg:mt-16 bg-white/10 rounded-main px-10 py-6 lg:p-8 text-lg backdrop-blur-sm backdrop-saturate-100 backdrop-contrast-75 border border-white/30 shadow-[0_8px_32px_rgba(0,0,0,0.25)]"
        >
          <div class="lg:hidden space-y-4 mobile-footer"></div>
          <div class="hidden lg:flex justify-between desktop-footer"></div>
        </div>

        <span class="text-base font-extrabold text-white mt-30"
          >QUATTRO SPACE © {{year}}</span
        >
      </div>
    </footer>
  </div>
</section>
