<section
  class="lg:absoulute lg:inset-0 lg:top-20 mx-auto w-full lg:px-0 lg:flex lg:items-center lg:justify-center lg:overflow-y-auto lg:overflow-x-hidden"
  id="kitchen-container"
  style="
    --enter: fadeFromBottom 1.8s ease 0.4s both;
    --leave: fadeToTop 1.5s ease both;
  "
>
  <div class="h-full space-y-10 lg:mt-24 lg:w-full">
    <h2
      class="text-subtitle-lg-sm font-medium lg:text-title-sm uppercase text-center"
    >
      Собственная авторская кухня
    </h2>

    <img
      src="/images/kitchen-main-mobile.webp"
      alt="Собственная авторская кухня"
      class="h-133.75 object-cover lg:hidden w-full"
    />

    <img
      src="/images/kitchen-main.webp"
      alt="Собственная авторская кухня"
      class="h-137.5 object-cover hidden lg:block w-full main-image lg:mt-20"
      data-animate
      style="--leave: scaleUp 1.4s ease both"
    />

    <div
      class="flex flex-col items-center mx-main 2xl:mx-auto 2xl:container lg:pb-40"
    >
      <div class="swiper kitchen-swiper w-1/2 md:w-1/3 lg:hidden!">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination relative! mt-5"></div>
      </div>

      <div
        id="kitchen-container"
        class="hidden lg:flex justify-center gap-8"
      ></div>

      <a
        class="text-base lg:hidden uppercase block py-4 bg-accent-pink text-white text-center rounded-main w-full mt-10 cursor-pointer"
      >
        Перейти в раздел
      </a>

      <a
        class="hidden lg:flex gap-4 items-center uppercase text-subtitle-md-sm mx-auto mt-8 hover:text-accent-pink cursor-pointer lg:mb-10"
      >
        Собрать меню онлайн

        <svg class="w-10 h-7.5">
          <use href="/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
