<section
  class="lg:absolute lg:inset-0 relative text-white lg:bg-black min-h-[90vh] w-full overflow-y-auto overflow-x-hidden lg:overflow-hidden"
  id="banner-container"
  style="--leave: fadeOut 1.4s ease both; --enter: fadeIn 1.4s ease both"
>
  <!------------Мобильный баннер-------------->
  <div
    class="flex lg:hidden flex-col items-center pt-20 mt-14 relative pb-37 px-main h-full"
  >
    <img
      src="/video/banner-video-fallback.webp"
      class="absolute inset-0 animate-bgSlide h-full w-full object-cover object-center mobile-fallback"
      alt="баннер"
      fetchpriority="high"
      loading="eager"
      width="1900"
      height="1530"
    />

    <video
      preload="auto"
      autoplay
      muted
      loop
      playsinline
      poster="/video/banner-video-fallback.webp"
      class="absolute inset-0 animate-bgSlide h-full w-full object-cover object-center mobile-video"
    >
      <source src="/video/banner-video.webm" type="video/webm" />
      <source src="/video/banner-video.mp4" type="video/mp4" />
    </video>

    <div class="absolute inset-0 bg-black/40 animate-bgSlide"></div>
    <div
      class="absolute w-full h-62 top-1/3 -translate-y-[15%] bg-linear-to-t from-black/90 via-black/60 to-black/20 blur-md animate-bgSlide"
    ></div>

    <div class="relative z-20 flex flex-col items-center w-full">
      <svg class="w-62.5 h-6.25 animate-logoMove">
        <use href="/sprite.svg#logo"></use>
      </svg>

      <h1
        class="mt-40 opacity-0 animate-fadeLeft uppercase text-subtitle-lg-sm font-bold font-grotesk text-center leading-[124%]"
      >
        Площадки<br />для<br />мероприятий<br />в Москве
      </h1>

      <p
        class="mt-18.25 opacity-0 animate-fadeRight bg-white/10 rounded-main p-4 text-lg backdrop-blur-sm backdrop-saturate-100 backdrop-contrast-125 border border-white/30 shadow-[0_8px_32px_rgba(0,0,0,0.25)]"
      >
        Добро пожаловать в <span class="text-accent-pink">Quattro Space</span> —
        уникальное место, где каждая деталь создана для того, чтобы сделать ваше
        событие незабываемым.
      </p>

      <a
        href="#section-2"
        class="w-full opacity-0 animate-fadeRight bg-accent-pink mt-4.5 text-center py-[12.5px] rounded-main cursor-pointer"
      >
        Подобрать площадку
      </a>
    </div>
  </div>

  <!------------ПК баннер-------------->

  <div
    class="hidden bg-white lg:grid grid-cols-4 h-[calc(100vh-1.5rem)] mx-6 mt-6 rounded-main animate-fadeScaleOut absolute overflow-hidden"
  >
    <div
      class="flex flex-col gap-10 items-center justify-end mb-14 pl-10 pr-16 text-black"
    >
      <span class="uppercase text-subtitle-sm">
        Комплекс залов большой вместимости в одном здании
      </span>

      <svg class="h-62.5 w-62.5">
        <use href="/sprite.svg#big-arrow-down"></use>
      </svg>
    </div>

    <div class="relative my-0.5">
      <div
        class="w-full h-full absolute inset-0 left-0 flex items-center animate-fadeToRight"
      >
        <div
          class="flex flex-col items-end h-full text-[200px] 3xl:text-[250px] 4xl:text-[300px]"
        >
          <div class="flex-1 flex items-center">
            <span class="font-manrope font-medium text-white" id="qu">
              QU
            </span>
          </div>

          <span class="font-manrope font-medium text-white opacity-0">T</span>
        </div>
      </div>

      <video
        autoplay
        muted
        loop
        preload="auto"
        class="w-full h-full object-cover rounded-l-main object-left"
        poster="/video/bg-video-pink-fallback.webp"
      >
        <source src="/video/bg-video-pink.mp4" type="video/mp4" />
        Ваш браузер не поддерживает видео.
      </video>
    </div>

    <div class="col-span-2 relative border-l-2 border-white my-0.5 mr-0.5">
      <div
        class="w-1/2 h-full border-r-2 border-white absolute inset-0 left-0 flex justify-end"
      >
        <div
          class="flex flex-col items-end h-full w-full animate-fadeToRight text-[200px] 3xl:text-[250px] 4xl:text-[300px]"
        >
          <div class="flex-1 flex items-center">
            <span
              class="font-manrope font-medium text-accent-pink animate-atMoveLeft"
              id="at"
            >
              AT
            </span>
          </div>

          <span
            class="font-manrope font-medium text-white animate-tAndRoMoveUp"
            id="t"
          >
            T
          </span>
        </div>
      </div>

      <div
        class="w-1/2 h-full border-r-2 border-white absolute inset-0 left-1/2 flex justify-end animate-fadeToRight"
      >
        <div
          class="flex flex-col items-end h-full text-[200px] 3xl:text-[250px] 4xl:text-[300px]"
        >
          <div class="flex-1 flex items-center">
            <span class="opacity-0 font-manrope font-medium"> AT </span>
          </div>

          <span
            class="font-manrope font-medium text-accent-pink mr-4 animate-tAndRoMoveUp"
            id="ro"
          >
            RO
          </span>
        </div>
      </div>

      <video
        autoplay
        muted
        loop
        preload="auto"
        poster="/video/bg-video-black-fallback.webp"
        class="w-full h-full object-cover filter grayscal rounded-r-main"
      >
        <source src="/video/bg-video-black.mp4" type="video/mp4" />
        Ваш браузер не поддерживает видео.
      </video>
    </div>
  </div>

  <!------------Баннер после анимации-------------->

  <div class="hidden lg:flex animate-fadeIn h-screen overflow-hidden w-full">
    <div
      class="flex flex-col gap-10 items-center justify-end basis-1/4 mb-14 pl-10 pr-16 text-white banner-side-text"
      data-animate
      style="--leave: fadeToBottom 1.4s ease both"
    >
      <h1 class="uppercase text-subtitle-sm">
        Комплекс залов большой вместимости в одном здании
      </h1>

      <svg class="h-62.5 w-62.5">
        <use href="/sprite.svg#big-arrow-down"></use>
      </svg>
    </div>

    <div class="relative basis-3/4 flex items-center justify-center">
      <img
        src="/video/banner-video-fallback.webp"
        class="absolute inset-0 top-0 left-0 w-full h-full object-cover image-new"
        alt="партик"
      />

      <div
        class="absolute inset-0 top-0 left-0 w-full h-full bg-black/40 z-10 banner-shadow"
      
        "
      ></div>

      <div
        class="absolute z-15 w-full mx-10 h-64 top-1/2 -translate-y-[65%] bg-linear-to-t from-black/40 via-black/30 to-black/20 blur-xl"
      ></div>

      <div
        class="relative z-40 pl-18 pr-34.5 mt-30 animate-fadeFromRight animate-fadeFromRight main-text"
        style="--leave: fadeToRight 1.4s ease both"
      >
        <h1 class="font-grotesk text-title-sm uppercase">
          Площадка<br />для мероприятий в Москве
        </h1>

        <div
          class="w-9/12 mt-8 bg-white/10 rounded-main p-6 text-lg backdrop-blur-sm backdrop-saturate-100 backdrop-contrast-125 border border-white/30 shadow-[0_8px_32px_rgba(0,0,0,0.25)]"
        >
          <span class="text-base">
            Добро пожаловать в
            <span class="text-accent-pink">Quattro Space</span> — уникальное
            место, где каждая деталь создана для того, чтобы сделать ваше
            событие незабываемым.
          </span>

          <div
            class="flex items-center gap-4 font-manrope font-medium text-lg text-white mt-6 text-center"
          >
            <button
              type="button"
              class="py-3 flex-1 bg-accent-pink uppercase rounded-[10px]"
            >
              Онлайн-конструктор
            </button>

            <a href="#section-9" class="py-3 flex-1 bg-pink rounded-[10px]"
              >Подобрать площадку</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="hidden lg:absolute lg:inset-0 lg:flex lg:items-center lg:justify-center overflow-hidden"
  id="banner-container-desktop"
  style="--leave: fadeToTopWithOpacity 2s ease both"
>
  <div
    class="secondary-shadow absolute inset-0 w-full h-full bg-black/70 z-10"
    data-animate
    style="
      --enter: fadeInWithWidth 1.4s ease both, bgOpacity 1.4s linear both;
      --enter-transform-origin: right;
      --enter-margin-left: auto;
      
    "
  ></div>
  <img
    src="/video/banner-video-fallback.webp"
    class="absolute inset-0 w-full h-full object-cover"
    data-animate
    style="
      --enter: fadeInWithWidth 1.4s ease both;
      --enter-transform-origin: right;
      --enter-margin-left: auto;
    "
    alt="партик"
  />

  <div
    class="h-125 w-full z-20 rounded-main bg-[#D9D9D9] px-main container flex justify-center second-banner-content"
    data-animate
    style="--enter: fadeFromBottomVH 1.4s ease 0.8s both"
  >
    <div class="h-full basis-1/2 bg-[#B2B2B2]"></div>
  </div>
</section>
